.boutonStd {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Buttons_12 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Buttons_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Champ_normal {
	font-family: Lucida Sans;
	font-size: 12px;
}

.code {
	font-family: Courier;
	font-size: 12px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.dev {
	font-family: Courier;
	font-size: 12px;
}

.Etiquette_grande {
	font-family: Arial;
	font-size: 16px;
}

.Etiquette_normale {
	font-family: Arial;
	font-size: 14px;
}

.plainText {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Standard {
	font-family: Tahoma;
	font-size: 12px;
}

.Summit_18 {
	font-family: Arial;
	font-size: 9px;
}

.Texts13N {
	font-family: Arial;
	font-size: 13px;
}

.Texts13N1 {
	font-family: Arial;
	font-size: 13px;
}

.Texts13N2 {
	font-family: Arial;
	font-size: 13px;
}

